<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>
<body>
    <h3>Your Gold:</h3>
    <div class="places">
        <div class="farm">
            <form action='/process_money', method='POST'>

            </form>

        </div>
        <div class="cave">
                <form action='/process_money', method='POST'>

                </form>
        </div>
        <div class="house">
                <form action='/process_money', method='POST'>

                </form>
        </div>
        <div class="casino">
                <form action='/process_money', method='POST'>

                </form>
        </div>
    </div>
    <div class="activities">

    </div>
</body>
</html>