<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Play</title>
<style type="text/css">
*{
    /* outline: 1px solid red; */
}
    h2{
        text-align: center;
    }

    .container{
        padding-left: 30vw;
    }

    .box{
        width: 200px;
        height: 200px;
        background-color: lightblue;
        display: inline-block;
        margin: 20px;
        border: 2px solid black;
        
    }

</style>
</head>
<body>

<h2>Welcome!</h2>
<div class= "container">
    <div class='box'></div>
    <div class='box'></div>
    <div class='box'></div>
</div>
</body>
</html>
