<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='index.css') }}">
    <title>Dojo Survey</title>
</head>
<body>
    <div class= "container">
    <form action='/survey' method="POST">
        Your Name: <input type='text' name='name' class='name'>

        Dojo Location: <select name="location" class='location'> 
            <option value='San Jose'>San Jose</option>
            <option value='Seattle'>Seattle</option>
            <option value='Chicago'>Chicago</option>
            <option value='Berkley'>Berkley</option>
        </select>
        Favorite Language: <select name="language" class="language">
            <option value='C++'>C++</option>
            <option value='JavaScript'>JavaScript</option>
            <option value='Python'>Python</option>
            <option value='Ruby'>Ruby</option>
        </select>
        Comment (optional): <textarea type='comment' name='comment' class="comment"></textarea>
        <input type='submit' value='BUTTON' class='submit'>
    </form>
    </div>  
    
    
</body>
</html>