<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel='stylesheet' href="{% static 'restful_tv/css/display.css' %}">
</head>
<body>
    <h1>TV Show {{information.id}}</h1>

    <p>Title: {{information.title}} </p>
    <p>Network: {{information.network}}</p>
    <p>Release Date: {{information.release}}</p>
    <p>Description: {{information.desc}}</p>


    <p>Last Updated: {{information.last_updated}}</p>

    <a href="/shows/{{information.id}}/edit">Edit</a>
    <a href="/shows/{{information.id}}/delete">Delete</a>
</body>
</html>